<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>servletmvc_20181126</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- <servlet> <servlet-name>식별자</servlet-name> <servlet-class>패키지명.서블릿클래스</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>식별자</servlet-name> <url-pattern>사용자요청주소</url-pattern> 
		</servlet-mapping> -->
	<!-- <servlet> <servlet-name>mvc</servlet-name> <servlet-class>com.test.ControllerServlet001</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>mvc</servlet-name> <url-pattern>/mvc</url-pattern> 
		</servlet-mapping> -->
	<servlet>
		<servlet-name>mvc</servlet-name>
		<servlet-class>com.test.ControllerServlet</servlet-class>
		<!--
		컨트롤러 역할 서블릿에서
		사용자 요청 주소 환경 설정 파일(command.properties)를
		메모리로 읽어들이기 위한 설정
		-->
		<init-param>
			<param-name>configFile</param-name>
			<param-value> /WEB-INF/command.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc</servlet-name>
		<!-- 와일드카드(*)를 이용한 URL 패턴 지정 -->
		<url-pattern>/mvc/*</url-pattern>
		<!-- 사용 가능한 URL 형태
		/mvc/insert
		/mvc/list
		/mvc/update
		/mvc/delete -->
	</servlet-mapping>
	
	
</web-app>